html{
    background:url("nmssvn3.jpeg") no-repeat;
    background-size: cover;
    height:100%;
    background-color: #000;
    background-attachment: fixed;
 }

 body {
    color: black;
    font-family: Arial, san-serif;
 }
 body::after{
    content: '';
    position: fixed;
    /* top: 0; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    z-index: -1;
    opacity: 0.3;
  }
  
 
 .htmltable {
   margin: auto;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
   background-color: whitesmoke;
   opacity: 0.9;
   width: 95%;
   margin-top: 30px;
   text-align: center;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    }

    th{
        border-bottom: 1px solid #ddd;
        padding: 10px;
        background-color: rgb(146, 21, 17); 
        color: rgb(241, 206, 7); 
    }
  
tr:hover {background-color: lightgrey;}